.red {color: red;}
.green {color: green;}
.blue {color: blue;}

body :nth-child(2):hover {
  color: red;
}

body :nth-of-type(2):active {
  color: green;
}

body :nth-of-type(2):focus {
  color: blue;
}

.list1 :nth-child(-n+25) {
  color: red;
}

.list1 :nth-child(n+35) {
  color:blue;
}

.list1 :nth-child(n+65) {
  color: green;
}

body {
}
.list2 {color: red;}
.list2 :first-child,
      :nth-child(2n+4),
      :nth-child(3n+6),
      :nth-child(5n+10),
      :nth-child(7n+14) {
        color:blue
      }
